SAMPLE_TEST/NewXMLSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Number">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="first" minOccurs="1" maxOccurs="1" type="xs:int">
        </xs:element>
        <xs:element name="second" minOccurs="1" maxOccurs="1" type="xs:int">
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>